services:
  postgres:
    image: postgres:16
    container_name: app_postgres
    environment:
      POSTGRES_DB: jarvis_db
      POSTGRES_USER: neitanssilva
      POSTGRES_PASSWORD: natanporto2003
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
